mat-sidenav-content {
    padding: 16px;
}

.hidden {
    visibility: hidden;
}

code {
    display: block;
    white-space: pre-wrap;
}

/*ul {
    list-style-type: none;
    padding: 0;

    li {
        margin-top: 5px;
        border: solid;

        div {
            padding: 5px;
        }

        div:nth-last-of-type(odd) {
            background-color: rgb(235, 217, 217);
        }
    }
}

.block {
    display: block;
}

.wrapper {
    display: flex;
}

.nowrap {
    white-space: nowrap;
    padding-right:10px;
}

.flex {
    flex: 1;
}

.hidden {
    visibility: hidden;
}*/